body {
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    height: 90vh;
    width: 90vw;
    max-width: 100%;
    margin: 1rem;
}

h1 {
    font-weight: normal;
    font-size: x-large;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-style: italic;
    font-size: x-large;
    margin: 0;
}

p {
    font-weight: normal;
    font-size: smaller;
    margin: 0;
}

a:any-link {
    color: black;
}

.main {

}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: x-large;
    padding-left: 1rem;
    padding-right: 1rem;
}

.verticalText {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 10%;
    float: left;
    justify-content: space-between;
    text-align: left;
    clear: left;
}

.blurb {
    display: block;
    max-width: 45%;
    float: left;
    text-align: start;
    margin-top: 1rem;
    padding-left: 1rem;
}

.blurb > * {
    margin: 0;
}

.pastShows {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}

.titleArtist {
    margin-top: 1rem;
}

img.current-show {
    display: flex;
    flex-wrap: nowrap;
    max-width: 45%;
    max-height: 85vh;
    float: right;
}

.on-view-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    max-width: 33vw;
}

.on-view-images {
    display: flex;
    right: 0;
    float: right;
    flex-direction: column;
    margin: 1rem;
}

.on-view-images > * {
    max-width: 45vw;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.exhibitions-titles {
    margin-bottom: 1rem;
}

.contactCard {
    display: block;
    max-width: 45%;
    float: left;
    text-align: start;
    margin: auto;
    padding-left: 1rem;
}

@media only screen and (max-width: 800px) {
    img.current-show {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        max-width: 90%;
        margin: auto;
    }
    
    .blurb {
        display: block;
        max-width: 100%;
        text-align: start;
        margin-top: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
    
    .blurb > * {
        margin: 0;
    }
        
    .contactCard {
        display: block;
        max-width: 100%;
        text-align: start;
        margin: 0;
        }

    .main {
        display: flex;
        flex-direction: column;
        order: 3;
        max-width: 90vw;
    }

        .main   :nth-child(2) { order: 1;}
        .main   :nth-child(1) { order: 2;}
        .main   :nth-child(3) { order: 3;}
}

/*
@media only screen and (max-width:768px) {
    p {
        font-size: medium;
    }
    
    .main {
        display: flex;
        flex-direction: column;
        margin: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }

    .blurb {
        display: block;
        max-width: 100%;
        margin-bottom: 1rem;
    }

    .a {
        margin-left: 0;
    }

    img.current-show {
        display: flex;
        flex-wrap: nowrap;
        max-width: 100%;
        margin: auto;
    }    

    .on-view-info {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        position: relative;
    }

    .on-view-images {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .on-view-images > * {
        max-width: 100%;
        margin-bottom: 1rem;
    }
    
    .nav {
        display: flex;
        flex-direction: column;
        max-width: 100%;
        justify-content: space-between;
        margin-top: 1rem;
        margin-left: -1rem;
        text-align: left;
    }

    .nav > * {
        margin-top: 1rem;
    }
}