body {
    background-color: white;
    max-width: 100%;
}

.logo {
    display: block;
    max-width: 90%;
    width: 2500px;
    margin: auto;
}

.blurb {
    max-width: 100%;
    margin-right: 3rem;
    margin-left: 3rem;
}