html {
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    max-height: 100%;
    max-width: 100%;
}

body {
    margin-bottom: 2rem;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: normal;
    font-size: x-large;
    margin: 0;
}

h2 {
    font-weight: normal;
    font-style: italic;
    font-size: x-large;
    margin: 0;
}

p {
    font-weight: normal;
    font-size: smaller;
    margin: 0;
}

footer {
    display: block;
    bottom: 0rem;
    text-align: center;
    margin-bottom: 1rem;
    min-width: 100%;
    clear: both;
}

a:any-link {
    color: black;
}

.artistInfo {
    color: #727272;
}

.nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-weight: normal;
    font-size: x-large;
    margin: 1rem;
    padding: 0;
}

.verticalText {
    display: flex;
    flex-direction: column;
    max-width: 50%;
    margin-top: 10%;
    padding: 0;
    float: left;
    justify-content: space-between;
    text-align: left;
    clear: left;
}

.blurb {
    display: flex;
    flex-direction: column;
    max-width: 45%;
    float: left;
    text-align: start;
    margin: auto;
    padding: 1rem;
}

.showPreview {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    top: 7rem;
}

.pastShows {
    display: flex;
    flex-direction: column;
    margin-top: 25%;
}

.titleArtist {
    margin-top: 1rem;
}

img.current-show {
    display: flex;
    flex-wrap: nowrap;
    max-width: 40%;
    margin: auto;
    padding: 1rem;
}

.on-view-artists {
    display: flex;
    flex-direction: column;
}

.on-view-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    margin-right: 1rem;
    max-width: 100%;
    padding: 0;
}

.on-view-images {
    display: flex;
    max-width: 100%;
    position: relative;
    float: right;
    flex-direction: column;
    margin: auto;
    padding: 1rem;
}

.on-view-images > * {
    max-width: 45vw;
    margin-bottom: 1rem;
    overflow-y: scroll;
}

.exhibitions-titles > * {
    margin-bottom: 1rem;
}

.contactCard {
    display: block;
    position: relative;
    bottom: auto;
    max-width: 45%;
    float: left;
    text-align: start;
    padding-left: 1rem;
    margin-top: 1rem;
}

.footer-link {
    font-size: smaller;
    text-decoration: none;
    color: #727272;
}

.footer-link:hover {
    text-decoration: underline;
}

@media only screen and (max-width:768px) {  
    body {
        max-width: 100%;
        margin: 0;
    }  

    .blurb {
        max-width: 100%;
        padding: 1rem;
    }

    .a {
        margin-left: 0;
    }

    img.current-show {
        display: block;
        text-align: center;
        flex-wrap: nowrap;
        max-width: 90%;
        margin: auto;
        float: none;
    }    

    .on-view-info {
        max-width: 100vw;
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        position: relative;
    }

    .on-view-images {
        display: flex;
        flex-direction: column;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .on-view-images > * {
        max-width: 100%;
        margin-bottom: 1rem;
    }
}